@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

html{
    font-family: 'Bree Serif', serif;
}
.cortina{
    background-color: rgba(29, 78 ,216, .5) !important;
}
.slick-arrow{
    /* background-color: blue !important;
    border-radius:50% ; */
    display: none !important;
}